#main{
    background-color: #e7eaf6;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    max-width: 30%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

#input{
    margin-top: 5px;
    border-radius: 7px;
    padding: 5px;
}

#circle{
    margin-top: 50px;
}

#input2{
    margin-top: 5px;
    border-radius: 7px;
    padding: 5px;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 7px;
}

#counter{
    background-color: #e7eaf6;
    border: 2px solid black;
    padding: 30px;
    max-width: 30%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
}

#counter label{
    display: block;
    font-size: 3em;
    margin-bottom: 10px;
}


.button-10 {

  flex-direction: column;
  align-items: center;
  padding: 6px 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 14px;
    margin-left: 3px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

body{
    font-family: Arial, sans-serif;
    background-color: #e5e5f7;
opacity: 1;
background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 47.5px 47.5px, linear-gradient(#444cf7 3.8000000000000003px, transparent 3.8000000000000003px) 0 -1.9000000000000001px, linear-gradient(90deg, #444cf7 3.8000000000000003px, #e5e5f7 3.8000000000000003px) -1.9000000000000001px 0;
background-size: 95px 95px, 95px 95px, 47.5px 47.5px, 47.5px 47.5px;
}